body{
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}
/*all p elements have top and bottom margin of 5px*/
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Remove underline from all links */
a{
 text-decoration: none;
}
.business-card{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #e6e6fa;
  text-align: center;
  font-size: 16px;
  border: solid;
}
.profile-image{
  max-width: 100%;
}